<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="..\Content\Styles\main.css">
        <link rel="stylesheet" href="..\Content\Styles\css\main.css">
        <link rel="stylesheet" href="..\Content\Styles\css\stuff.css">
        <link rel="shortcut icon" href="">
        <title>Моя страница</title>
        <script src="..\Scripts\Libs\Jquery-3.3.1.min.Js"></script>
        <script src="..\Scripts\Libs\knockout-3.4.2.Js"></script>
        <script src="..\Scripts\Libs\react.development.Js"></script>
        <script src="..\Scripts\Libs\react-dom.development.Js"></script>
        <script src="..\Scripts\Libs\prop-types.js"></script>
        <script src="..\Scripts\Libs\linq.js"></script>
        <script src="..\Scripts\Compiled\app.js"></script>
    </head>
    
    <body>
        <header id="header" class="header">
        </header>

        <section id="content" class="content">
        </section>

        <footer id="footer">
            <span>© Емельяненко Дмитрий</span>
        </footer>
    </body>

</html>